{% load staticfiles %}
<html>
    <head>
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Font -->
        <link href="//fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">

        <!-- Static files -->
        <link rel="stylesheet" href="{% static 'css/event.css' %}">

        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <script type="text/javascript" >
          $(document).ready(function(){
              $("#id_username").attr('placeholder', 'Kasutajatunnus');
              $("#id_password").attr('placeholder', 'Parool');
              $("#id_password1").attr('placeholder', 'Parool');
              $("#id_password2").attr('placeholder', 'Korda parooli');
              $("#id_email").attr('placeholder', 'Meiliaadress');
              $("#id_password").attr('placeholder', 'Parool');

          });
        </script>

        <title>Elu - Mote</title>
    </head>
<body>
  <div class="page-header">
      {% if user.is_authenticated %}
          <button class="button"><small><a href="{% url 'event_new' %}">Loo projekt</a></small></button>
         {% comment %} <button class="button"><small><a href="{% url 'profile' %}">Profiil</a></small></button> {% endcomment %}
          <button class="button">{{ user.username }} <small><a href="{% url 'logout' %}">Logi välja</a></small></button>
      {% else %}
         <button class="button"><small><a href="{% url 'login' %}">Logi sisse</a></small></button>
         <button class="button_2"><small><a href="{% url 'registration_register' %}">Loo kasutaja</a></small></button>

      {% endif %}
      <h1><a href="/">Elu - Mote</a></h1>
  </div>

    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>
</body>
</html>
