{% extends 'events/base.html' %}
{% block content %}
    {% for event in events %}
    <div class="col-md-4">
        <div class="event">
            <h1><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title|linebreaksbr }}</a></h1>
            <div class="date">
            <p>Toimumise aeg: {{ event.event_date }}</p>
            <p>Loomise aeg: {{ event.created_date }}</p>
            </div>
            <p>Kirjeldus: {{ event.descripton|linebreaksbr }}</p>
            <p>Asukoht: {{ event.city }}</p>
            <p>Kategooria: {{ event.category }}</p>
            <p>Registreerimise tähtaeg: {{ event.register_limit_date }}</p>
            <a href="{% url 'event_detail' pk=event.pk %}">Kommentaarid: {{ event.comments.count }}</a>
        </div>
      </div>
    {% endfor %}
{% endblock %}
