{% extends 'events/base.html' %}
{% block content %}

<body>

<div class="flexible">
  <div class="col-sm-4">
    <div class="circle_container_1">
      <div class="circle_main_1">
        <div class="circle_text_container_1">
          <div class = "circle_text_1">
            MÕTE
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="circle_container_2">
      <a style="text-decoration:none;" href="{% url 'event_new' %}">
        <div class="circle_main_2" href="{% url 'event_new' %}">
          <div class="circle_text_container_2">
            <div class = "circle_text_2">
              VAATA PROJEKTE
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="circle_container_3">
      <a style="text-decoration:none;" href="{% url 'event_list' %}">
        <div class="circle_main_3">
          <div class="circle_text_container_3">
            <div class = "circle_text_3">
              LOO PROJEKT
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

<div class="textarea">
  <h1 class="title">Mis on <span style="color:#F6CDE6">MÕTE </span>?</h1>
  <h2 class="paragraph">
  MÕTE on veebirakendus, kus saavad kokku inimene, kellel on mõte ja inimesed, kellele antud mõte silma särama lööb või, kes arvavad, et nendel on piisavalt kogemusi või tahtmist idee elluviimiseks
  enda abi pakkuda.

  Veebirakendusse saad lisada oma mõtte/projekti/sündmuse/idee/vms, kirjeldada lähemalt oma nägemust ning anda teistele inimestele võimalus selle mõttega liituda, et üheskoos see teoks teha.
  Siin on võimalik tuua kogukonna peale kokku eraisikud, ettevõtjaid, vabaühendustes tegutsejaid, aga ka omavalitsustes või nende asutustes toimetajaid, et üheskoos välja mõelda ja teha midagi
  erilist. Kogu sündmuse protsessi kajastatakse veebilehel (MÕTTE sünnist kuni selle teostuseni), millest tekib nö juhend, kuidas teine kogukond saaks samasugust vahvat üritust korraldada.
  Niimoodi õpime kenasti üksteise pealt!

  Veebirakendust saab kasutada nii külastajana kui ka konto loomisega. Viimane annab võimaluse ise MÕTTEID algatada ja teiste MÕTETES kaasa lüüa. Kõik see aktiivne tegutsemine ei ole asjata ja
  ei jää tähelepanuta. Iga edukas tegutsemine annab võimalusi enda kogukonna tegemised ühtekokku koguda ja oma nime heast küljest näidata.
  MÕTTED sünnivad asukohapõhiselt ja tänu sellele saab jälgida kasvõi iga Eestimaa küla aktiivsust.

  KENASID MÕTTEID!
  </h2>
</div>
</div>

{% endblock %}
