.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    color: #333;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 5%;
    margin-top: 2%;
}
.page-header{
  padding-left: 5%;
  margin-top: 2%;
}

h1, h2, h3, h4{
    font-family: 'Josefin Sans', sans-serif;
}

.date{
    color: #828282;
}


.event-form textarea, .event-form input{
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.event{
    margin-bottom: 70px;
}

.event h1 a, .event h1 a:visited{
    color: #000000;
}

.comment{
    margin: 20px 0px 20px 20px;
}

.all-comments{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  color: #74787B;
  font-size: 15px;
}

hr{
  color: #74787B;
}

.button_2{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #74787B;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid #F6CDE6;
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 2%;
}

.date_begin{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #74787B;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
  border: 2px solid #F6CDE6;
  cursor: pointer;
  position: absolute;
  left: 35%;
}

.date_end{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #74787B;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
  border: 2px solid #F6CDE6;
  cursor: pointer;
  position: absolute;
  left: 40%;
}

.search_btn{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.projects_title{
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #ef9790;
  text-align: center;
  position: relative;
  top: -20px;
}

#id_title, #id_city, #id_location, #id_category, #id_event_date, #id_register_limit_date{
  display: block;
  width: 100%;
  height: 34px;
  align: center;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#id_descripton{
  display: block;
  width: 100%;
  height: 150px;
  align: center;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col-md-4{
  text-align: justify;
}

@media
only screen and (min-width: 571px),
{

  .centerBlock {
  display: table;
  margin: auto;
}
/*
.helptext{
  visibility: hidden;
}*/
