.login-title{
  font: 50px "Tahoma", Arial, Serif;
  padding-top: 5%;
  text-align: center;
  display: block;
  margin-bottom: 5%;
}

.signup-picture{
  padding: 15%;
  background-image: url("../images/ring_1.png");
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-signin {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
  background-color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #74787B;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #74787B;
  position: relative;
  width: 150px;
  margin-left: 25%;
  margin-bottom: 5%;
}

.button3{
  padding: 7px 10px;
  margin-bottom: 0;
  left:25%;
}

.button4{
  padding: 8px 10px;
  margin-bottom: 0;
  left: 50%;
}

.button5{
  margin-bottom: 0;
}

.button6{
  padding: 8px 10px;
    margin-bottom: 0;
  left: 50%;
}

.button7{
  padding: 8px 10px;
  margin-bottom: 0;
  left:25%;
}

.new-account {
    display: block;
    margin-top: 10px;
}

.page-header {
  border-bottom: none;
}

#id_username, #id_password, #id_email {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 5%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
